<%- include('partials/header.ejs'); %>
<body class="initial">
	<%- include('partials/navbar.ejs'); %>
	<div class="container home">
		<div class="row">
			<div class="col-md-4">
				<div class="logo">
					<img src="/img/logo-nostra-white.png" class="img-responsive" alt="Your Icon" height="340">
				</div>
			</div>
			<div class="col-md-8">
				<div class="slogan">
					<br><b><h1 style="color:white; margin-top:-15px;">Controle Financeiro</h1></b>
					<p class="initialP">
						Bem Vindo ao Dashboard Financeiro.
						Registre-se se ainda não possui cadastro,
						ou faça seu login.
					</p>
				</div>
				
				<a class="btn btn-lg btn-primary" href="/login"><img src="/img/fivem.png" width="28" alt="" style="margin-right: 10px;"> Login</a>
				<a class="btn btn-lg btn-primary" href="/register"><img src="/img/discord.png" width="28" alt="" style="margin-right: 10px;"> Cadastre-se</a>
			</div>
		</div>
	</div>
	</form>
</body>
<%- include('partials/footer.ejs'); %>