<%- include('partials/header.ejs'); %>
<body class="initial">
	<%- include('partials/navbar.ejs'); %>
	<div class="container home">
		<div class="container col-md-4">
			<% if(notify.length > 0) { %>
				<div class="alert alert-success text-center" role="alert"> <%= notify %> </div>
			<% } %>	
			<div class="card-body">
				<h3 class="d-flex justify-content-center text-light">Faça Seu Cadastro</h3>	
				<form method="POST" action="/signup">
					<input class="form-control margin" type="email" name="email" placeholder="E-mail">
					<input class="form-control margin" type="text" name="userName" placeholder="Nome de Usuário">
					<input class="form-control margin" type="password" name="password" placeholder="Senha">
					<input class="form-control margin" type="password" name="rePassword" placeholder="Repira sua senha">
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary margin justify-content-center">Cadastrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include('partials/footer.ejs'); %>